@property --backgroundColor1 {
    syntax: '<color>';
    initial-value: rgb(166, 165, 219);
    inherits: false;
}

@property --backgroundColor2 {
    syntax: '<color>';
    initial-value: rgb(153, 140, 224);
    inherits: false;
}

.linksPage { 
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    animation: changePageAnimationIntro .4s linear;
}

.linksPage.exit {
    animation: changePageAnimation .4s linear forwards;
}

.linksPage__space, .top{
    width: 90%;
    height: 5%;
}

.linksPage__space.top{  
    border-left: 5px solid slateblue;
}

.linksPage__space.bottom{  
    border-right: 5px solid slateblue;
}

.linksPage__content {
    width: 90%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgb(166, 165, 219);
    
    border: 5px solid slateblue;
    border-top: 2px solid slateblue;
    border-right: 2px solid slateblue;
    border-radius: 0 15px 0 15px;
}

.linksPage__linksWrap {
    width: 100%;
    height: 90%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.linksPage__list {
    width: 100%;
    height: 100%;
    gap: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.linksPage__link {
    width: 80%;
    height: 120px;
    
    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding-left: 2rem;
}

.linksPage__listItem {
    width: 100%;
    height: 100%;
    gap: 5rem;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background-image: linear-gradient(to right, var(--backgroundColor1), var(--backgroundColor2));
    border-radius: 0 15px 15px 0;
    border-left: 10px solid slateblue;
    transition: --backgroundColor2 .3s, border-left .3s;

    padding-left: 2rem;
}

.linksPage__listItem:hover {
    --backgroundColor2: rgb(210, 209, 236);
    border-left: 10px solid rgb(156, 145, 226);
    transition: --backgroundColor2 .3s, border-left .3s;
}

.linksPage__linkText {
    width: 200px;

    color: rgb(10, 4, 65);
    font-size: 1.4rem;
    font-weight: bold;
    text-align: left;
}

.linksPage__linkSubtext {
    width: 400px;

    color: rgb(74, 69, 122);
    font-size: 1.2rem;
    text-align: left;
}

.linksPage__linkImg {
    width: 200px;
    height: 110px;

    object-fit: contain;

    border-radius: 50px;
}

.linksPage__buttonWrap {
    width: 100%;
    height: 10%;
    gap: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.linksPage__button {
    width: 120px;
    height: 35px;

    color: blanchedalmond;
    font-size: .8rem;
    font-weight: bold;

    background-color: rgb(111, 146, 223);
    border: 2px solid rgb(70, 62, 180);
    border-radius: 50px;

    transition: all .3s;
}

.linksPage__button:hover {
    color: rgb(45, 26, 87);

    background-color: rgb(179, 197, 236);
    border: 2px solid rgb(62, 89, 180);

    transition: all .3s;
}

@keyframes changePageAnimationIntro {
    0% {opacity: 0;  transform: scaleX(0);}
    50%  {opacity: .5; transform: scaleX(1);}
    75% {opacity: 1; }
    100% {opacity: 1; transform: scaleX(1);}
}

@keyframes changePageAnimation {
    0% {opacity: 1;  transform: scaleX(1);}
    50%  {opacity: .5; transform: scaleX(.5);}
    75% {opacity: 0; }
    100% {opacity: 0; transform: scaleX(0);}
}

@media screen and (max-width: 1200px) {
    .linksPage__content {
        justify-content: flex-start;

        overflow: scroll;

        padding-bottom: 1rem;
    }

    .linksPage__linksWrap {
        height: auto;
        
        display: flex;
        justify-content: center;
        align-items: center;

        margin: 2rem 0;
    }

    .linksPage__list {
        gap: 2rem;

        align-items: center;
    }

    .linksPage__link {
        width: 80%;
        height: auto;
        
        justify-content: center;
    
        padding-left: 0;
    }

    .linksPage__listItem {
        min-height: 450px;
    
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    
        background-image: linear-gradient(to bottom, var(--backgroundColor1), var(--backgroundColor2));
        border-radius: 0 0 15px 15px;
        border-top: 10px solid slateblue;
        border-left: none;
        transition: --backgroundColor2 .3s, border-left .3s;
        
        padding: .5rem;
    }

    .linksPage__listItem:hover {
        --backgroundColor2: var(--backgroundColor2);
        border-left: none;
        transition: none;
    }

    .linksPage__linkText {
        width: 100%;
        text-align: center;
    }
    
    .linksPage__linkSubtext {
        width: 100%;
        height: auto;

        text-align: center;

        padding: 1rem;
    }
    
    .linksPage__linkImg {
        width: 95%;
        height: 110px;
    
        object-fit: contain;
    
        border-radius: 50px;
    }

    .linksPage__buttonWrap {
        width: 90%;
        height: 50px;
        gap: 1rem;
    }
    
    .linksPage__buttonWrap p{
        width: 120px;
        
        font-size: .7rem;
    }
}