ul {
    list-style: none;
}

.portfolioPage { 
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    animation: changePageAnimationIntro .4s linear;
}

.portfolioPage.exit {
    animation: changePageAnimation .4s linear forwards;
}

.portfolioPage__space, .top{
    width: 90%;
    height: 5%;
}

.portfolioPage__space.top{  
    border-left: 5px solid slateblue;
}

.portfolioPage__space.bottom{  
    border-right: 5px solid slateblue;
}

.portfolioPage__content {
    width: 90%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    background-color: rgb(166, 165, 219);
    color: rgb(37, 37, 51);
    
    border: 5px solid slateblue;
    border-top: 2px solid slateblue;
    border-right: 2px solid slateblue;
    border-radius: 0 15px 0 15px;
}


.portfolioPage__static {
    width: 100%;
    height: 90%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolioPage__cardWrap {
    width: 100%;
    height: 90%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolioPage__cardWrap.enter {
    animation: changeCardAnimation .6s linear;
}

.portfolioPage__cardWrap.exit {
    animation: changeCardAnimationOut .6s linear;
}

.portfolioPage__list {
    width: 95%;
    height: 90%;
    gap: 0 .5rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.portfolioPage__card {
    width: 45%;
    height: 30%;
    gap: .5rem;
    
    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid rgb(128, 131, 173);
    border-radius: 15px;
    background-color: rgb(182, 194, 245);
    box-shadow:  5px 5px 10px rgba(66, 66, 66, 0.4);

    transition: all .5s;

    padding: .5rem;
}

.portfolioPage__bigCard {
    width: 95%;
    height: 90%;
    gap: .5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid rgb(128, 131, 173);
    border-radius: 15px;
    background-color: rgb(182, 194, 245);

    transition: all .5s;

    padding: .5rem;
}

.portfolioPage__bigCard:hover {
    border: 2px solid rgb(128, 131, 173);
    border-radius: 15prgb(48, 51, 90);
    background-color: rgb(207, 212, 235);

    transition: all .5s;
}

.portfolioPage__card:hover {
    border: 2px solid rgb(128, 131, 173);
    border-radius: 15prgb(48, 51, 90);
    background-color: rgb(207, 212, 235);
    box-shadow:  10px 10px 10px rgba(66, 66, 66, 0.6);

    transition: all .5s;
}

.portfolioPage__textSection {
    width: 50%;
    height: 90%;
    gap: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    font-size: .9rem;
}

.portfolioPage__tittle {
    font-weight: bold;
    font-size: 1rem;

    color: rgb(70, 66, 82);
}

.portfolioPage__smallText {
    color: rgb(48, 46, 53);
}

.portfolioPage__media {
    width: 50%;
    height: 100%;
    gap: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolioPage__webpagePhoto {
    width: 70%;
    height: auto;

    overflow: hidden;

    border-radius: 25px;
}

.portfolioPage__linkWrap {
    width: 100%;
    height: 10%;
    gap: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolioPage__link {
    color: rgb(52, 35, 83);
    font-size: 1rem;
}

.portfolioPage__link:hover {
    color: rgb(109, 86, 151);
    text-decoration: underline;
}

.portfolioPage__buttonWrap {
    width: 100%;
    height: 10%;
    gap: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolioPage__button {
    width: 120px;
    height: 35px;

    color: blanchedalmond;
    font-size: .8rem;
    font-weight: bold;

    background-color: rgb(111, 146, 223);
    border: 2px solid rgb(70, 62, 180);
    border-radius: 50px;

    transition: all .3s;
}

.portfolioPage__button:hover {
    color: rgb(45, 26, 87);

    background-color: rgb(179, 197, 236);
    border: 2px solid rgb(62, 89, 180);

    transition: all .3s;
}

/* Big card module*/

.portfolioPage__textSection--Big {
    width: 45%;
    height: 100%;
    gap: 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    color: rgb(70, 66, 82);

    padding: 1rem;
}

.portfolioPage__tittle--Big {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.portfolioPage__subtittle--Big {
    font-size: 1.2rem;
    font-weight: 600;

    color: rgb(48, 46, 53);

    margin-bottom: .5rem;
}

.portfolioPage__text--Big {
    width: 100%;

    font-size: 1rem;
    text-align: left;
}

.portfolioPage__text--Big.tech {
    text-align: center;
}

.portfolioPage__list--Big {
    width: 95%;
    height: 100%;
    gap: .8rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    list-style: circle;
}

.portfolioPage__listEntry--Big {
    width: 100%;

    font-size: .9rem;
    text-align: left;
}

.portfolioPage__media--Big {
    width: 55%;
    height: 100%;
    gap: 2rem 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolioPage__webpagePhoto--Big {
    width: 95%;
    height: auto;

    overflow: hidden;

    border-radius: 25px;
}

.portfolioPage__linkWrap--Big {
    width: 100%;
    height: 5%;
    gap: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolioPage__link--Big {
    color: rgb(52, 35, 83);
    font-size: 1.2rem;
}

.portfolioPage__link--Big:hover {
    color: rgb(109, 86, 151);
    text-decoration: underline;
}

b {
    font-weight: bold;
}


@keyframes changePageAnimationIntro {
    0% {opacity: 0;  transform: scaleX(0);}
    50%  {opacity: .5; transform: scaleX(1);}
    75% {opacity: 1; }
    100% {opacity: 1; transform: scaleX(1);}
}

@keyframes changePageAnimation {
    0% {opacity: 1;  transform: scaleX(1);}
    50%  {opacity: .5; transform: scaleX(.5);}
    75% {opacity: 0; }
    100% {opacity: 0; transform: scaleX(0);}
}

@keyframes changeCardAnimation {
    0% {opacity: 1;  transform: scale(1);}
    25%  {opacity: .2; transform: scale(.5);}
    50%  {opacity: 0; transform: scale(0);}
    75% {opacity: .2; transform: scale(.5);}
    100% {opacity: 1; transform: scale(1);}
}

@keyframes changeCardAnimationOut {
    0% {opacity: 1;  transform: scale(1);}
    25%  {opacity: .2; transform: scale(.5);}
    50%  {opacity: 0; transform: scale(0);}
    75% {opacity: .2; transform: scale(.5);}
    100% {opacity: 1; transform: scale(1);}
}

@media screen and (max-width: 1200px) {
    .portfolioPage__content {
        justify-content: flex-start;

        overflow: scroll;

        padding-bottom: 1rem;
    }

    .portfolioPage__cardWrap, .portfolioPage__static {
        width: 100%;
        height: auto;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .portfolioPage__list {
        width: 100%;
        height: 100%;
        gap: 1rem;
    
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    
    .portfolioPage__card {
        width: 90%;
        height: 30%;
        
        flex-direction: column;

        padding: 1rem;
    }

    .portfolioPage__textSection {
        width: 90%;
        min-height: 150px;
        height: auto;
        gap: 1rem;
    
        margin-bottom: 1.5rem;
    }

    .portfolioPage__media {
        width: 90%;
    }
    
    .portfolioPage__webpagePhoto {
        width: 90%;
    }

    .portfolioPage__bigCard {
        height: auto;
    
        flex-direction: column;
    }

    .portfolioPage__textSection--Big {
        width: 95%;

        padding: 1rem;
    }

    .portfolioPage__media--Big {
        width: 90%;
    }
    
    .portfolioPage__webpagePhoto--Big {
        width: 90%;
    }

    .portfolioPage__link--Big {
        font-size: 1rem;
    }

    .portfolioPage__buttonWrap {
        width: 90%;
        height: 50px;
        gap: 1rem;
    }
    
    .portfolioPage__buttonWrap p{
        width: 120px;
        
        font-size: .7rem;
    }
}