.skillsPage {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    animation: changePageAnimationIntro .4s linear;
}

.skillsPage.exit {
    animation: changePageAnimation .4s linear forwards;
}

.skillsPage__space,
.top {
    width: 90%;
    height: 5%;
}

.skillsPage__space.top {
    border-left: 5px solid slateblue;
}

.skillsPage__space.bottom {
    border-right: 5px solid slateblue;
}

.skillsPage__content {
    width: 90%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgb(166, 165, 219);
    color: rgb(37, 37, 51);

    border: 5px solid slateblue;
    border-top: 2px solid slateblue;
    border-right: 2px solid slateblue;
    border-radius: 0 15px 0 15px;
}

.skillsPage__topContent {
    width: 100%;
    height: 10%;
}

.skillsPage__marquee {
    width: 100%;
    height: 100%;
    min-width: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(163, 174, 223);
    border-radius: 0 15px 0 0;
    border-bottom: 2px solid rgb(170, 160, 228);
}

.skillsPage__marquee--img {
    width: 50px;
    height: auto;

    margin-left: 100px;
}

.skillsPage__mainTextWrap {
    width: 100%;
    height: 80%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(183, 188, 221);
    border-bottom: 2px solid rgb(138, 127, 201);
}

.skillsPage__mainTex--types {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.skillsPage__mainTextWrap--list {
    width: 12%;
    height: 100%;
    gap: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    padding: 1rem 0;
}

.skillsPage__mainTextWrap--item {
    width: 100%;
    height: 20%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.5rem;

    border: 10px double transparent;
    background-image: linear-gradient(to right, rgb(126, 114, 209), rgb(156, 176, 233)),
        linear-gradient(to right, rgb(106, 90, 205), rgb(156, 176, 233));
    background-origin: border-box;
    background-clip: content-box, border-box;
    border-radius: 0 25px 25px 0;
    border-left: 1px double transparent;

    transition: all .3s;
}

.skillsPage__mainTextWrap--item p {
    font-weight: bold;
}

.skillsPage__mainTextWrap--item:hover,
.skillsPage__mainTextWrap--item.selected {
    color: rgb(214, 224, 248);
    border: 10px double transparent;
    background-image: linear-gradient(to right, rgb(126, 114, 209), rgb(192, 208, 252)),
        linear-gradient(to right, rgb(106, 90, 205), rgb(123, 144, 202));
    background-origin: border-box;
    background-clip: content-box, border-box;
    border-left: 10px;
    border-radius: 0 25px 25px 0;
    border-left: 1px double transparent;

    transition: all .3s;
}

.skillsPage__mainTextWrap--item:active {
    color: rgb(235, 240, 252);
    background-image: linear-gradient(to right, rgb(126, 114, 202), rgb(165, 178, 214)),
        linear-gradient(to right, rgb(95, 81, 182), rgb(109, 127, 177));
}

.skillsPage__mainTex--content {
    width: 90%;
    height: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    background-color: rgb(183, 188, 221);
    padding: 1rem 0;
}

.skillsPage__buttonWrap {
    width: 100%;
    height: 10%;
    gap: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.skillsPage__button {
    width: 120px;
    height: 35px;

    color: blanchedalmond;
    font-size: .8rem;
    font-weight: bold;

    background-color: rgb(111, 146, 223);
    border: 2px solid rgb(70, 62, 180);
    border-radius: 50px;

    transition: all .3s;
}

.skillsPage__button:hover {
    color: rgb(45, 26, 87);

    background-color: rgb(179, 197, 236);
    border: 2px solid rgb(62, 89, 180);

    transition: all .3s;
}

/* Skills Cards */

.skillsPage__cardWrap {
    width: 95%;
    height: 100%;
    gap: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 10px double transparent;
    background-image: linear-gradient(to left, rgb(126, 114, 209), rgb(156, 176, 233)),
        linear-gradient(to left, rgb(106, 90, 205), rgb(156, 176, 233));
    background-origin: border-box;
    background-clip: content-box, border-box;
    border-radius: 25px 0 0 25px;
    border-right: 1px double transparent;

    animation: changeSkillCard .6s linear;
    animation-iteration-count: 1;
}

.skillsPage__mainTex--content.exit {
    animation: changeSkillCardOut .6s linear;
    animation-iteration-count: 1;
}

.skillsPage__tittle {
    width: 100%;
    height: 15%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(50, 47, 58);

    margin-top: 3rem;
}

.skillsPage__contentWrap {
    width: 100%;
    height: 85%;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.skillsPage__textWrap {
    width: 60%;
    height: 100%;
    gap: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    margin-top: 2rem;
}

.skillsPage__listWrap {
    width: 100%;
    height: 100%;
    gap: 2rem;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    margin-top: 1rem;
}

.skillsPage__listWrap--row {
    width: 100%;
    height: 100%;
    gap: 1rem;

    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 1rem 0;
}

.skillsPage__list {
    width: 30%;
    height: 100%;
    gap: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.skillsPage__list--row {
    width: 60%;
    height: 100%;
    gap: .5rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.skillsPage__tittleWrap {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skillsPage__listTittle {
    width: 100%;

    text-align: left;
    font-size: 1.4rem;
    font-weight: bold;

    padding: 0 2rem;
}

.skillsPage__flagIcon {
    width: 50px;
    height: auto;
}

.skillsPage__text {
    width: 100%;

    text-align: left;
    font-size: 1.3rem;
    color: rgb(48, 46, 53);

    padding: 0 2rem;
}

.skillsPage__textSoftTexWrap {
    width: 40%;
    height: 100%;
    gap: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.skillsPage__text--small {
    width: 100%;

    text-align: left;
    font-size: 1.2rem;

    padding: 0 2rem;
}

.skillsPage__textSoft {
    width: 100%;

    text-align: left;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(45, 45, 63);

    transition: color .3s;

    padding: 0 2rem;
}

.skillsPage__textSoft:hover {
    color: rgb(223, 236, 240);

    transition: all .3s;
}

b {
    font-weight: bold;
}

.skillsPage__imgWrap {
    width: 35%;
    height: 100%;

    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;

    padding-bottom: 5rem;
}

.skillsPage__img {
    width: 70%;
    height: auto;

    object-fit: scale-down;

    margin-bottom: 2rem;
}

.skillsPage__img.roundend {
    width: auto;
    max-height: 350px;
    border-radius: 15px;

    object-fit: contain;
    margin-bottom: 2;
}

.skillsPage__imgCreator {
    position: absolute;
    font-size: .8rem;

    text-align: right;
}

.skillsPage__imgCreator--text,
.skillsPage__imgCreator--link {
    font-weight: bold;
    color: rgb(221, 248, 252);
}

.skillsPage__imgCreator--link:hover {
    color: rgb(235, 220, 252);
}

@keyframes changePageAnimationIntro {
    0% {
        opacity: 0;
        transform: scaleX(0);
    }

    50% {
        opacity: .5;
        transform: scaleX(1);
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        transform: scaleX(1);
    }
}

@keyframes changePageAnimation {
    0% {
        opacity: 1;
        transform: scaleX(1);
    }

    50% {
        opacity: .5;
        transform: scaleX(.5);
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        transform: scaleX(0);
    }
}

@keyframes marqueeAnimation {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - 1));
    }
}

@keyframes changeSkillCard {
    0% {
        opacity: 1;
        transform: scaleY(0);
    }

    50% {
        opacity: .8;
        transform: scaleY(1);
    }

    75% {
        opacity: .8;
    }

    100% {
        opacity: 1;
        transform: scaleY(1);
    }
}

@keyframes changeSkillCardOut {
    0% {
        opacity: 1;
        transform: scaleY(1);
    }

    50% {
        opacity: .8;
        transform: scaleY(0);
    }

    75% {
        opacity: .8;
    }

    100% {
        opacity: 1;
        transform: scaleY(0);
    }
}

@media screen and (max-width: 1500px), screen and (max-height: 800px) {

    .skillsPage__marquee--img {
        margin-left: 50px;
    }

    .skillsPage__content {
        justify-content: flex-start;

        overflow-y: scroll;
        justify-content: flex-start;

        padding-bottom: 1rem;
    }

    .skillsPage__mainTextWrap {
        width: 100%;
        height: auto;

        flex-direction: column;
        justify-content: flex-start;

        margin-bottom: 1rem;
    }

    .skillsPage__mainTextWrap--list {
        width: 95%;
        height: 200px;
        gap: .5rem;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        padding: 0;
    }

    .skillsPage__mainTextWrap--item {
        width: 20%;
        max-width: 150px;
        height: 100%;

        writing-mode: vertical-lr;
        text-orientation: upright;
        font-size: 1.2rem;

        background-image: linear-gradient(to bottom, rgb(126, 114, 209), rgb(156, 176, 233)),
            linear-gradient(to bottom, rgb(106, 90, 205), rgb(156, 176, 233));
        border-radius: 0 0 25px 25px;
        border-bottom: 0px double transparent;
        border-left: 0px double transparent;
        border-top: 0px double transparent;
    }

    .skillsPage__mainTextWrap--item:hover,
    .skillsPage__mainTextWrap--item.selected {
        background-image: linear-gradient(to bottom, rgb(126, 114, 209), rgb(192, 208, 252)),
            linear-gradient(to bottom, rgb(106, 90, 205), rgb(123, 144, 202));
        background-origin: border-box;
        background-clip: content-box, border-box;
        border-bottom: 0px double transparent;
        border-left: 0px double transparent;
        border-top: 0px double transparent;
        border-radius: 0 0 25px 25px;
    }

    .skillsPage__mainTex--content {
        width: 100%;
        max-width: 1300px;
        height: auto;

        display: flex;
        justify-content: flex-end;
        align-items: center;

        background-color: rgb(183, 188, 221);
        padding: 1rem 0;
    }

    .skillsPage__buttonWrap {
        width: 90%;
        height: 50px;
        gap: 1rem;
    }

    .skillsPage__buttonWrap p {
        width: 120px;

        font-size: .7rem;
    }

    /* Skills Cards */

    .skillsPage__cardWrap {
        width: 100%;

        justify-content: flex-start;

        border-radius: 0;
        border-left: 1px double transparent;
    }

    .skillsPage__tittle {
        width: 95%;
        height: 120px;

        font-size: 1.7rem;

        margin-top: 0rem;
    }

    .skillsPage__contentWrap {
        width: 95%;
        height: 85%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .skillsPage__textWrap {
        width: 100%;
        height: 100%;
        gap: 1.5rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin-top: .5rem;
        margin-bottom: 1.5rem;
    }

    .skillsPage__text {
        width: 100%;

        text-align: center;
        font-size: 1.1rem;

        padding: 0 .5rem;
    }

    .skillsPage__imgWrap {
        width: 95%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        padding-bottom: 1.5rem;
    }

    .skillsPage__img {
        margin-bottom: 1.5rem;
    }

    .skillsPage__imgCreator {
        position: relative;
        font-size: .8rem;

        text-align: right;
    }

    /* Languages */

    .skillsPage__listWrap {
        width: 100%;
        height: 100%;
        gap: 4rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin-bottom: 2rem;
    }

    .skillsPage__list {
        width: 95%;
        height: auto;
        gap: 1.5rem;
    }

    .skillsPage__list--item {
        width: 100%;

        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .skillsPage__listTittle {
        padding: 0;
    }

    .skillsPage__flagIcon {
        margin-right: 1rem;
    }

    .skillsPage__text {
        text-align: left;
    }

    .skillsPage__text--small {
        text-align: center;
    }

    .skillsPage__text--small {
        padding: 0;
    }

    /* Soft Skills */

    .skillsPage__listWrap--row {
        width: 95%;

        flex-direction: column;

        padding: 0;
    }

    .skillsPage__list--row {
        width: 100%;
        height: auto;
        gap: 1rem;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }

    .skillsPage__list--row li {
        width: 100%;
    }

    .skillsPage__textSoft {
        text-align: center;

        padding: 0;
    }

    .skillsPage__textSoftTexWrap {
        width: 100%;
        height: auto;
        gap: 1rem;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        margin: 1rem 0;
    }

    .skillsPage__textSoftTexWrap .skillsPage__text {
        text-align: center;
    }
}