.skillsPage {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    animation: changePageAnimationIntro .4s linear;
}

.skillsPage.exit {
    animation: changePageAnimation .4s linear forwards;
}

.skillsPage__space,
.top {
    width: 90%;
    height: 5%;
}

.skillsPage__space.top {
    border-left: 5px solid slateblue;
}

.skillsPage__space.bottom {
    border-right: 5px solid slateblue;
}

.skillsPage__content {
    width: 90%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgb(166, 165, 219);

    border: 5px solid slateblue;
    border-top: 2px solid slateblue;
    border-right: 2px solid slateblue;
    border-radius: 0 15px 0 15px;
}

.skillsPage__topContent {
    width: 100%;
    height: 10%;
}

.skillsPage__marquee {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(163, 174, 223);
    border-radius: 0 15px 0 0;
    border-bottom: 2px solid rgb(170, 160, 228);
}

.skillsPage__marquee--img {
    width: 50px;
    height: auto;

    margin-left: 100px;
}

.skillsPage__mainTextWrap {
    width: 100%;
    height: 80%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(183, 188, 221);
    border-bottom: 2px solid rgb(138, 127, 201);
}

.skillsPage__mainTex--types {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.skillsPage__mainTextWrap--list {
    width: 12%;
    height: 100%;
    gap: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    padding: 1rem 0;
}

.skillsPage__mainTextWrap--item {
    width: 100%;
    height: 20%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.5rem;

    border: 10px double transparent;
    background-image: linear-gradient(to right, rgb(126, 114, 209), rgb(156, 176, 233)),
        linear-gradient(to right, rgb(106, 90, 205), rgb(156, 176, 233));
    background-origin: border-box;
    background-clip: content-box, border-box;
    border-radius: 0 25px 25px 0;
    border-left: 1px double transparent;
}

.skillsPage__mainTextWrap--item p {
    font-weight: bold;
}

.skillsPage__mainTextWrap--item:hover {
    color: rgb(214, 224, 248);
    border: 10px double transparent;
    background-image: linear-gradient(to right, rgb(126, 114, 209), rgb(192, 208, 252)),
        linear-gradient(to right, rgb(106, 90, 205), rgb(123, 144, 202));
    background-origin: border-box;
    background-clip: content-box, border-box;
    border-left: 10px;
    border-radius: 0 25px 25px 0;
    border-left: 1px double transparent;
}

.skillsPage__mainTex--content {
    width: 90%;
    height: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    background-color: rgb(183, 188, 221);
    padding: 1rem 0;
}

.skillsPage__buttonWrap {
    width: 100%;
    height: 10%;
    gap: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.skillsPage__button {
    width: 60px;
    height: 40px;

    border-radius: 50%;
}

/* Skills Cards */

.skillsPage__cardWrap {
    width: 95%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 10px double transparent;
    background-image: linear-gradient(to left, rgb(126, 114, 209), rgb(156, 176, 233)),
        linear-gradient(to left, rgb(106, 90, 205), rgb(156, 176, 233));
    background-origin: border-box;
    background-clip: content-box, border-box;
    border-radius:  25px 0 0 25px;
    border-right: 1px double transparent;

    animation: changeSkillCard .6s linear;
    animation-iteration-count: 1;
}

.skillsPage__mainTex--content.exit {
    animation: changeSkillCardOut .6s linear;
    animation-iteration-count: 1;
}

.skillsPage__tittle {
    font-size: 2rem;
    text-transform:uppercase;
    font-weight: bold;
}

@keyframes changePageAnimationIntro {
    0% {
        opacity: 0;
        transform: scaleX(0);
    }

    50% {
        opacity: .5;
        transform: scaleX(1);
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        transform: scaleX(1);
    }
}

@keyframes changePageAnimation {
    0% {
        opacity: 1;
        transform: scaleX(1);
    }

    50% {
        opacity: .5;
        transform: scaleX(.5);
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        transform: scaleX(0);
    }
}

@keyframes marqueeAnimation {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - 1));
    }
}

@keyframes changeSkillCard {
    0% {
        opacity: 1;
        transform: scaleY(0);
    }

    50% {
        opacity: .8;
        transform: scaleY(1);
    }

    75% {
        opacity: .8;
    }

    100% {
        opacity: 1;
        transform: scaleY(1);
    }
}

@keyframes changeSkillCardOut {
    0% {
        opacity: 1;
        transform: scaleY(1);
    }

    50% {
        opacity: .8;
        transform: scaleY(0);
    }

    75% {
        opacity: .8;
    }

    100% {
        opacity: 1;
        transform: scaleY(0);
    }
}