footer {
    width: 90%;
    height: 60px;
    gap: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgb(211, 210, 221);
    background: linear-gradient(-90deg, rgb(198, 191, 230) 0%, rgba(139, 139, 223, 1) 35%, rgba(35, 66, 128, 1) 100%);

    border-top: 5px solid slateblue;
    border-left: 5px solid slateblue;
    border-radius: 15px 0 0 0;

    margin-top: auto;
}

footer p {
    color: rgb(245, 245, 245);
    font-size: .9rem;
}